<?xml version="1.0" encoding="utf-8"?>

<openerp>
    <data>
    <!--MENU PARENT-->
    <menuitem
        id="menu_capex_top"
        name="CAPEX"
        sequence="5"/>
    <!--END MENU PARENT-->

    <!--MENU LEFT-->
        <menuitem
            id="menu_cear_left"
            name="CEAR"
            sequence="1"
            parent="menu_capex_top"/>
            <menuitem
                id="menu_cear_commitment_left_left"
                name="Commitment Cear"
                sequence="1"
                parent="menu_cear_left"
                action="action_cear_commitment"/>
            <menuitem
                id="menu_cear_expenditure_left_left"
                name="Expenditure Cear"
                sequence="2"
                parent="menu_cear_left"
                action="action_cear_expenditure"/>
            <menuitem
                id="menu_progress_left_left"
                name="Progress"
                sequence="3"
                parent="menu_cear_left"
                action="action_progress"/>

        <menuitem
            id="menu_contract_left"
            name="Contract"
            sequence="2"
            parent="menu_capex_top"
            action="budget_contractor.action_contract"/>

        <menuitem
            id="menu_project_left"
            name="CAPEX Budget"
            sequence="3"
            parent="menu_capex_top"
            />

        <menuitem
            id="menu_cwip_left"
            name="CWIP"
            sequence="1"
            parent="menu_project_left"
            action="budget_core.action_budget_inherit_project"/>

        <menuitem
            id="menu_budget_plan_left"
            name="Budget Plan"
            sequence="2"
            parent="menu_project_left"
            action="budget_core.action_budget_plan_inherit_project"/>
    <!--END MENU LEFT-->

    </data>
</openerp>
