<?xml version="1.0" encoding="utf-8"?>

<openerp>
    <data>
    <!--MENU PARENT-->
    <menuitem
        id="menu_capex_top"
        name="CAPEX"
        sequence="5"/>
    <!--END MENU PARENT-->

    <!--MENU LEFT-->
        <menuitem
            id="menu_task_left"
            name="Task"
            sequence="2"
            parent="menu_capex_top"
            action="action_task"/>
    <!--END MENU LEFT-->

    <!--MENU LEFT-CHILD-->
    </data>
</openerp>
